<!DOCTYPE html>
<html>
<body>
  <!-- 1. The widget will replace this <div> tag. -->
  <div id="youglish"></div>
  <!-- Apr 16th: get randomized clips -->
  <button type="button" onclick="recommendataion(); getWordData();">Get a new word to learn</button>
  <script type='text/javascript' src='js/dictionary.js'></script>
  <script type='text/javascript' src='js/youglish.js'></script>
  <div id="widget-1"></div>
  

  </body>

</html>